@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

body {
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(68,87,96);
  color: white;
  margin-left: 200px;
  margin-right: 200px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.portfolio {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  padding: 0;
}

.link {
  width: 160px;
  height: 38px;
}

.nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(43,55,61);
  color: white;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color:blanchedalmond;
}

.project-image {
  height: 540px;
  width: 960px;
}

.button {
  background-color: rgb(43,55,61);
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.button:hover {
  color:blanchedalmond;
  border-color: blanchedalmond;
  cursor: pointer;
}

.project-div {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 5px solid rgb(43,55,61);
  border-right: 5px solid rgb(43,55,61);
  border-bottom: 5px solid rgb(43,55,61);
}

.project-name {
  padding: 5px;
  border: 5px solid rgb(43,55,61);
}

.inputs {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.input {
  width: 300px;
  color: white;
  background-color: rgb(43,55,61);
}

.textarea {
  width: 300px;
  height: 100px;
  color: white;
  background-color: rgb(43,55,61);
}

::placeholder {
  color: blanchedalmond;
  opacity: .3;
}

.main {
  min-height: calc(100vh - 290px);
}




